html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  font-size: 2rem;
  background-color: #f3eae8;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f6aca1;
  color: #000000;
  font-size: 1.5rem;
  outline: none;
  padding: 1.5rem;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.error {
  padding: 1rem;
}
.error p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #921212;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.card p {
  background-color: white;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
}